@import-normalize;

:not(.svg-inline--fa) {
	box-sizing: border-box;
}

html {
	font-family: Segoe WPC,Segoe UI,sans-serif;
}

body, html, #root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-scrollbar {
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	background: #4F4F4F;
}

#ace-editor, #ace-editor *{
	font-size: 14px !important;
}

div[name="react-console-emulator"], div[name="react-console-emulator"] * {
	font-size: 13px !important;
	font-family: Segoe WPC,Segoe UI,sans-serif !important;
}

.ace_scroller {
	left: 58px !important;
}

.ace_gutter, .ace_gutter-layer {
	width: 58px !important;
	background: #141414;
	color: #989898;
}

.ace_gutter-cell {
	padding-right: 18px !important;
}

div[name="react-console-emulator__content"]>div:nth-child(-n + 2) {
	color: #1FC0FF !important;
}

.pr-6 {
	padding-right: 6px;
}

.px-6 {
	padding-right: 6px;
	padding-left: 6px;
}

.ml-auto {
	margin-left: auto  !important;
}
